#nav-dropdown{
    color: black;
    font-weight: bold;
    text-decoration-color: black ;
    background-color: #f34c19;
}

#box{
    color: rgb(19, 33, 97);
    font-weight: bold;
    text-decoration-color: black !important;
    background-color: #fbc40e;
}

